<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main/resources/stylesheets/modify.css"/>
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" class="main" th:action="@{/main/takeCard}">
    <input hidden="hidden" type="text" name="index" th:value="${businessentity.getIndex()}">
    <div class="listaddtext">
        <i class="fa-solid fa-address-card"></i>
        <div class="add">명함 추가</div>
    </div>
    <div class="usermain">
        <div class="usertext">사용자이름</div>
        <input type="text" name="userName" placeholder="사용자이름을 입력해주세요." th:value="${businessentity.getUserName()}">
    </div>
    <div class="conmain">
        <div class="context">회사이름</div>
        <input type="text" name="companyName" placeholder="회사이름을 입력해주세요." th:value="${businessentity.getCompanyName()}">
    </div>
    <div class="namemain">
        <div class="nametext">이름</div>
        <input type="text" name="name" placeholder="이름을 입력해주세요" th:value="${businessentity.getName()}">
    </div>
    <div class="levelmain">
        <div class="leveltext">직책</div>
        <input type="text" name="level" placeholder="직책을 입력해주세요." th:value="${businessentity.getLevel()}">
    </div>
    <div class="numbermain">
        <div class="numbertext">휴대폰 번호</div>
        <input type="text" name="num" placeholder="휴대폰 번호를 입력해주세요." th:value="${businessentity.getNum()}">
    </div>
    <div class="emailmain">
        <div class="emailtext">이메일</div>
        <input type="email" name="email" placeholder="이메일을 입력해주세요." th:value="${businessentity.getEmail()}">
    </div>
    <div class="addressmain">
        <div class="addresstext">주소</div>
        <input type="text" name="address" placeholder="주소를 입력해주세요." th:value="${businessentity.getAddress()}">
    </div>
    <div class="last">
        <input class="addbtutext" type="submit" value="수정하기">
        <a class="pre" href="/main/index">이전</a>
    </div>

</form>
</body>
</html>