<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>조민성의 포트폴리오</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!--google font 에서 가져옴 -->
    <link rel="stylesheet" type="text/css" href="/web/resources/stylesheets/style.css"> <!--css파일과 연결-->
    <style>
        pre {
            display: inline;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="intro_bg">
        <div class="header" id="link_header">
            <div class="search_Area"><h2>조민성의 포트폴리오</h2></div>
            <ul class="nav">
                <li><a href="#link_header">Top</a></li>
                <li><a href="#link_main_text0">PreView</a></li>
                <li><a href="#project1">Project</a></li>
                <li><a href="#link_main_text2">CONTACT</a></li>
            </ul>
        </div>
        <div class="bg">
            <div class="intro_text">
                <pre class="yellow">&lt;!DOCTYPE</pre> <pre class="white">html</pre> <pre class="yellow">&gt;</pre>
                <br><pre class="yellow">&lt;html</pre> <pre class="white">lang</pre> <pre class="green">="en"</pre><pre class="yellow">&gt;</pre>
                <br><pre class="yellow">&lt;head&gt;</pre>
                <br><pre class="yellow">&emsp;&lt;meta</pre> <pre class="white"> charset</pre> <pre class="green">="UTF-8"</pre><pre class="yellow">&gt;</pre>
                <br><pre class="yellow">&emsp;&lt;title&gt;</pre><pre class="white">portfolio</pre><pre class="yellow">&lt;/title&gt;</pre>
                <br><pre class="yellow">&lt;/head&gt;</pre>
                <br><pre class="yellow">&lt;body&gt;</pre>
                <br><pre class="yellow">&emsp;&lt;h1&gt;</pre><pre class="white">개발자 조민성</pre><pre class="yellow">&lt;/h1&gt;</pre>
                <br><pre class="yellow">&emsp;&lt;br&gt;</pre>
                <br><pre class="yellow">&emsp;&lt;h4&gt;</pre><pre class="white"> 포트폴리오</pre><pre class="yellow">&lt;/h4&gt;</pre>
                <br><pre class="yellow">&lt;/body&gt;</pre>
                <br><pre class="yellow">&lt;/html&gt;</pre>
            </div>
            <div class="computer">
                <h1 class="white1">개발자 조민성</h1>
                <br>
                <h4 class="white1">포트폴리오</h4>
            </div>
        </div>
        <div class="license">
            <div class="kind">정보처리산업기사 </div>
            <div class="kind">리눅스마스터 2급 </div>
            <div class="kind">네트워크 관리사 2급 </div>
            <div class="kind">컴퓨터활용능력 1급 </div>
            <div class="kind">워드프로세서</div>
        </div>
    </div>
    <!--intro end -->
    <div class="amount">
        <div>
            <img src="/img/springboot.svg">
        </div>
        <div>
            <img src="/img/html.svg">
        </div>
        <div>
            <img src="/img/css.svg">
        </div>
        <div>
            <img src="/img/js.svg">
        </div>
        <div>
            <img src="/img/java.svg">
        </div>
        <div>
            <img src="/img/mysql.svg">
        </div>
    </div>
    <!-- amount end -->

    <div class="main_text0" id="link_main_text0">
        <h1 class="preview"> PreView </h1>
        <ul class="icons">
            <li>
                <div class="icon_img">
                    <img class="calendar" src="/img/calendar.svg">
                </div>
                <div class="contents1_bold">달력</div>
                <div class="contents2">현재 날짜를 빨간 원으로 표시해줍니다.</div>
                <div class="array">
                    <button class="more" onclick="location.href='calendar.html'">Go Project</button>
                    <a href=#previewID><button class="more">Detail</button></a>
                </div>
            </li>
            <li>
                <div class="icon_img">
                    <img class="blog" src="/img/board.svg">
                </div>
                <div class="contents1_bold">명함 관리</div>
                <div class="contents2">명함을 작성하고 자신이 작성한 명함을 수정, 삭제 가능합니다.</div>
                <div class="array">
<!--                    <button class="more" th:href="@{/user/login}">Go Project</button>-->
                    <div class="more"><a th:href="@{/user/login}">Go Project
                    </a></div>
                    <a href=#previewID><button class="more">Detail</button></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="main_text1" id="project1">
        <h1 class="preview" id="previewID">Project 1</h1>
        <div class="contents1">달력 만들기</div>
            <div class="calendar_screenshot">
                <img class="calendar_img" src="/img/달력1.png" width="400px" height="400px">
                <div class="calendar_content">
                    <br>html, css, Javascript를 이용하여 달력을 만들었습니다.
                    <br>현재 몇 월인지 달력 맨 처음에 표시되게 하고, 옆에 작은 글씨로 현재 년, 월, 일을 나타나게 했습니다.
                    <br>빨간 동그라미를 이용하여 현재 날짜를 한 눈에 알아보기 쉽게 표시하였습니다.
                </div>
            </div>
        </div>
    </div>
<div class="main_text2">
    <h1 class="preview" id="previewID1">Project 2</h1>
    <div class="contents1">명함 관리 만들기</div>
    <div class="calendar_screenshot">
        <img class="calendar_img" src="/img/명함.png" width="600px" height="250px">
        <div class="calendar_content">
            <br>html, css, java, mariadb를 이용하여 명함 관리 페이지를 만들었습니다.
            <br>회원가입, 로그인, 비밀번호 찾기, 아이디 찾기의 기능을 넣었습니다.
            <br>명함을 추가, 삭제, 수정이 가능하며 작성한 명함을 토대로 항목별로 검색도 가능합니다.
        </div>
    </div>
</div>

    <footer>
        <br>
        <div>이름 : 조민성</div>
        <div>phone number : 010 - 7194 - 9391</div>
        <div>Email : pamten@naver.com</div>
        <br>
        <div class="license" id="link_main_text2">

        </div>
    </footer>

</body>
</html>