*{ </*html 요소 선택 */
font-family: 'Noto Sans KR', sans-serif;
    list-style: none; /* 모든 리스트에서 . 숨김 */
    text-decoration: none; /* 색깔, 밑줄 없앰 */
    border-collapse: collapse; /* 테이블의 선 붙이기 */
    margin: 0px; /* 기본적으로 설정된 margin 값 없애기 */
    padding: 0px; /*기본적으로 설정된 padding 값 없애기 */
    color: #000; /*기본색 폰트색 검정색*/
    scroll-behavior: smooth;
}
h1{
    font-size: 48px;
    font-weight: 100;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.contents2{

}
.contents3{
    font-size: 14px;
    font-weight: 100;
}
.result{
    font-size: 24px;
}
.intro_bg{
    background-color: black;
    height: 718px;
    /*width: 1920px; !*강의에선 width: 100%; *!*/
    width: 100%;
    background-repeat: no-repeat; /* 배경화면 반복 안 함*/
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.search_Area{
    weight: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.search_Area > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color:#fff;
    padding-left:10px;
}
.search_Area > form > span{
    width: 60px;
    color: #fff;
    font-weight: bold;
    cursor : pointer;
}
.nav{
    display: flex;
    justify-content: flex-end; /*오른쪽 정렬*/
    line-height: 86px; /*높이*/
    width: calc(1280px - 300px); /* calc: 자동 계산*/
    color: #fff; /* 글자색 */
}
.nav > li {
    margin-left: 84px;
}
.nav > li > a{
    color: #fff; /* 글자색 */
}
.amount{
    display: flex;
    width: 1280px;
    backgrund: #fff;
    margin: auto;
    justify-content: space-between;
}
.amount>div{
    text-align: center;
    height: 144px;
    margin-top: 37px;
}


/* main_text0*/
.preview{
    font-weight: bold;
    padding-top: 20px;
}
.main_text0{
    width: 100%;
    height: 500px;
    background: #f1f2f3;
    margin-top: 20px;
}
.main_text0 > h1 {
    margin-top: -100px;
    text-align: center;

}
.main_text0 > .contents1{
    text-align: center;
}
.icons, .amount{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}
.icons > li{
    flex: 1;
    height: 302px;
    margin-top : 49px;
    background: white;
    text-align: center;
}
.icons > li:not(:last-child){
    margin-right: 20px;
}
.icons > li > .icon_img{
    margin-top: 18px;
}
.icons> li>.icon_img>.calendar{
    width: 150px;
}
.icons> li>.icon_img>.blog{
    width: 120px;
    margin-bottom: 10px;
}
.icons .contents2{
    width: 190px;
    margin: auto;
    letter-spacing: -1px;
}
.more{
    width: 100px;
    height: 30px;
    background-color: #2F7AF4;
    border: none;
    font-size: 12px;
    color: white;
    margin: 25px auto;
    line-height: 30px;
    cursor: pointer;
}
/*main_text1*/
.main_text1{
    width: 100%;
    height: 659px;
}
.main_text1 > h1{
    padding-top: 30px;
    text-align: center;
}
.main_text1 > .contents1{
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
.calendar_content{
    margin: -10px;
}
.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}
.bg {
    display: flex;
    justify-content: space-between;  /* 요소들 사이의 공간을 균등하게 나눔 */
    align-items: center;  /* 세로축 중앙 정렬 */
}
.computer  {
    flex: 1;
    text-align: left;
    color: white;
}
.intro_text{
    width: 500px;
    margin: 100px 200px;
    flex: 1;
}
.intro_text > h1,
.intro_text > h4{
    color: #fff;
}
.calendar_screenshot{
    text-align: center;
}
.service > .contents2{
    padding: 20px;
}
.service > .contents2 > h2{
    margin-bottom: 27px;
}
/* main_text2 */
.main_text2{
    width: 100%;
    height: 418px;
    background-image: url("contact.png");
}
.main_text2 > ul{
    display: flex;
    padding-top: 138px;
}
.main_text2 > ul > li{
    flex: 1;
    text-align: center;
}
.main_text2 > ul > li> div>h1,
.main_text2 > ul > li> div{
    color: #fff;
}
.more2{
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    cursor: pointer;
    margin: 16px auto;
}
footer{
    display: flex;
    background: #1f1f1f;
    color: #fff;
}
footer > div:first-child{
    flex: 4; /* flex 합이 12 */
    text-align: center;
    color: #fff;
}
footer > div:last-child{
    flex: 8;
    color: #fff;
}
footer > div > h4{
    color: white;
}
.yellow{
    color: #FFBB5C;
}
.white{
    color: #fff;
}
.green{
    color: #557A46;
}
.yellow,
.white,
.green{
    font-size: 24px;
}
.white1{
    color: white;
}
