<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/user/resources/stylesheets/login.css">
    <script src="https://kit.fontawesome.com/7f0b80e413.js" crossorigin="anonymous"></script>
</head>
<script>
    $("#login").keypress(function (e){
        if(e.keyCode ===13){
            login();
        }
    });
</script>
<body>
<div class="box">
    <div class="title">
        <div class="sub">
            <i class="fa-solid fa-house"></i>
            <div class="text_post">POST</div>
        </div>
        <div class="text1">이 서비스를 이용하려면 로그인이 필요합니다.</div>
        <div class="text2">회원이 아닌 분은 먼저 회원가입을 해주시길 바랍니다.</div>
    </div>
    <form method="post" class="main" id="login">
        <div class="context">
            <input class="context1" id="email" name="email" type="text" placeholder="아이디(email)">
            <input class="context2" id="password" name="password" type="password" placeholder="비밀번호">
        </div>
        <input class="button" onclick="login()" type="submit" value="로그인">


    </form>
    <div class="last">
        <div class="find1"><a th:href="@{/user/findpasswd}" target="_self">비밀번호 찾기</a></div>
        <div class="find2"><a th:href="@{/user/findid}" target="_self">아이디 찾기</a></div>
        <div class="find3"><a th:href="@{/user/join}" target="_self">회원가입</a></div>
    </div>
</div>
</body>
</html>